.banner--1 {
  background-color: #fbf3f3;
}
.banner__content {
  color: black;
}
.banner__content__heading {
  font-weight: 700;
  font-family: "Italiana", serif;
}
.banner__content__text {
  margin: 30px 0px;
  color: #4b4b4c;
}

.home-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.home-menu__item {
  display: block;
  box-shadow: 0 0 5px 1px #cacacc;
  padding: 50px;
  text-align: center;
  color: #4b4b4c;
  transition: all 0.3s;
}
.home-menu__item:hover {
  box-shadow: 0 0 5px 2px #ce0f47;
}

.product__heading {
  font-weight: 700;
}
.product__price {
  color: #3a3939;
  font-weight: 600;
  font-style: italic;
}
.product__short-info {
  color: #3a3939;
  font-weight: 400;
}
.product__feature {
  margin: 10px 0px;
}
.product__feature__title {
  color: #3a3939;
  font-weight: 600;
}
.product__feature__select-quantity {
  max-width: 100px;
  margin: 0;
}
.product__feature__color-select-radio {
  display: none;
}
.product__feature__color-select-radio:checked + label {
  border: 2px solid #FAF9F6;
}
.product__feature__color-select-label {
  width: 35px;
  height: 25px;
}
.product__feature__size-select-radio {
  display: none;
}
.product__feature__size-select-radio:checked + label {
  border: 2px solid #ce0f47;
}
.product__feature__size-select-label {
  border: 1px solid #4b4b4c;
  padding: 5px 10px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.heading-1 {
  font-size: 32px;
  font-weight: 700;
  display: block;
  font-family: "Italiana", serif;
}

.box {
  box-shadow: 0 0 10px 5px whitesmoke;
}

.heading-small {
  font-size: 22px;
  font-weight: 700;
  display: block;
}

.btn {
  background-color: #ce0f47;
  padding: 10px 25px;
  border-radius: 0px;
  color: #FAF9F6;
}
.btn:hover {
  background-color: transparent;
  color: #ce0f47;
  border: 1px solid #ce0f47;
}
.btn--round {
  border-radius: 50px;
  padding: 5px 10px;
}
.btn--outline {
  background-color: #FAF9F6;
  color: black;
  border: 1px solid #ce0f47;
}

.btn-outline {
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 0px;
  color: #ce0f47;
  border: 1px solid #ce0f47;
}
.btn-outline:hover {
  background-color: #ce0f47;
  color: #FAF9F6;
}
.btn-outline--round {
  border-radius: 50px;
  padding: 5px 10px;
}
.btn-outline--outline {
  background-color: #FAF9F6;
  color: black;
  border: 1px solid #ce0f47;
}

.nav {
  padding: 20px 0px;
}
.nav__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
.nav__form {
  display: flex;
  flex-wrap: wrap;
}
.nav__form__input, .nav__form__select {
  padding: 10px 25px;
  border: 1px solid #cacacc;
  color: #595959;
}
.nav__form__input:focus, .nav__form__select:focus {
  outline: none;
}
.nav__form__input {
  min-width: 50%;
}
.nav__form__btn {
  background-color: #ce0f47;
  padding: 0px 25px;
  border: none;
}
.nav__form__btn i {
  color: #FAF9F6;
}
.nav__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.nav__menu__item {
  margin: 0px 10px;
  line-height: 1.5rem;
}
.nav__menu__item a {
  color: #4b4b4c;
}
.nav__menu__item a:hover {
  color: #ce0f47;
}
.nav__menu__item__name {
  display: block;
}

.lni {
  padding-top: 4px;
}

.nav-secondary {
  background-color: #ce0f47;
  color: #FAF9F6;
}
.nav-secondary__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-secondary--left {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.nav-secondary--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.nav-secondary--item {
  color: #FAF9F6;
  padding: 20px 10px;
}
.nav-secondary--item:hover {
  background-color: #FAF9F6;
  color: #ce0f47;
}

.product-list__item {
  border: 1px solid #cacacc;
  padding: 5px;
}
.product-list__item__img {
  width: 100%;
  height: 350px;
  border-radius: 3px;
  transition: all 0.2s;
}
.product-list__item__img:hover {
  transform: scale(1.01);
}
.product-list__item--name {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 2px 0px;
  display: block;
  color: #2E4053;
}
.product-list__item--name:hover {
  color: #ce0f47;
}
.product-list__item--price {
  margin: 2px 0;
  font-weight: lighter;
  display: block;
}
.product-list__item__btn {
  color: #FAF9F6;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
  background-color: #ce0f47;
  transition: all 0.2s;
}
.product-list__item__btn:hover {
  background-color: #4b4b4c;
}

.home-cat {
  position: relative;
}
.home-cat__btn {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  padding: 12px 20px;
  border: 1px solid transparent;
  background-color: #ce0f47;
  color: #FAF9F6;
  transition: all 0.5s;
  text-align: center;
}
.home-cat__btn:hover {
  background-color: #FAF9F6;
  color: #ce0f47;
  letter-spacing: 2px;
}

.cart__item {
  border: 1px solid #e3e2e2;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.cart__item__features {
  padding: 0px 15px;
}
.cart__item__title {
  color: #3a3939;
  font-weight: 600;
}
.cart__item__image {
  height: 150px;
  width: auto;
}
.cart__item__name {
  font-size: 24px;
  display: block;
  color: #4b4b4c;
}
.cart__item__name:hover {
  color: #ce0f47;
}
.cart__item__remove-btn {
  border: none;
  background-color: transparent;
}
.cart__item__remove-btn:hover {
  color: #ce0f47;
}
.cart__summary {
  padding: 5px 15px;
  border: 1px solid #e3e2e2;
}

.form {
  box-shadow: 0 0 10px 5px whitesmoke;
  border-radius: 7px;
  width: 500px;
  margin: auto auto;
  padding: 30px;
}
.form__title {
  margin: 30px 0px;
}
.form__input {
  width: 100%;
  border: 1px solid #ccc8c8;
  margin: 10px 0;
  padding: 10px 10px;
}
.form__checkbox__label {
  margin: 0px 5px;
}

.order__item {
  margin: 15px 0px;
  box-shadow: 0 0 10px 5px whitesmoke;
}
.order__item__title {
  color: #3a3939;
  font-weight: 600;
}

.footer {
  background-color: #343434;
  padding: 40px 0px;
  color: #cacacc;
  margin-top: 50px;
}
.footer__item {
  padding: 10px 30px;
}
.footer__item a {
  color: inherit;
}
.footer__item a:hover {
  color: #ce0f47;
}
.footer__item__title {
  font-size: 24px;
  font-weight: 600;
  color: #FAF9F6;
}
.footer__item__body {
  margin: 20px 0px;
}

.footer-mini {
  background-color: #2c2c2c;
  padding: 10px 0px;
  color: #cacacc;
}
.footer-mini a {
  color: inherit;
}
.footer-mini a:hover {
  color: #ce0f47;
}

.four-zero-four {
  text-align: center;
}
.four-zero-four__image {
  height: 400px;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
